Detecting supported extensions

Current probes:
- [x] 0 — server_name [RFC6066] #24 #23 
- [x] 1 — max_fragment_length [RFC6066] #24
- [x] 2 — client_certificate_url [RFC6066] #24
- [x] 3 — trusted_ca_keys [RFC6066] #24
- [x] 4 — truncated_hmac [RFC6066] #24
- [x] 5 —status_request [RFC6066] #24
- [ ] 6 — user_mapping [RFC4681] #34
- [ ] 7 — client_authz [RFC5878] #34 
- [ ] 8 — server_authz [RFC5878] #34
- [ ] 9 — cert_type [RFC6091] #34
- [ ] 10 — supported_groups (formerly "elliptic_curves") [RFC4492][RFC7919] #34 
- [ ] 11 — ec_point_formats [RFC4492] #34 
- [ ] 12 — srp [RFC5054] #34 
- [ ] 13 — signature_algorithms [RFC5246] #34 
- [ ] 14 — use_srtp [RFC5764] #34 
- [ ] 15 — heartbeat [RFC6520] #34 
- [ ] 16 — application_layer_protocol_negotiation [RFC7301] #34 
- [ ] 17 — status_request_v2 [RFC6961] #34 
- [ ] 18 — signed_certificate_timestamp [RFC6962] #34 
- [ ] 19 — client_certificate_type [RFC7250] #34 
- [ ] 20 — server_certificate_type [RFC7250] #34 
- [ ] 21 — padding [RFC7685] #34 
- [ ] 22 — encrypt_then_mac [RFC7366] #34 
- [ ] 23 — extended_master_secret [RFC7627] #34 
- [ ] 24 — token_binding [draft-ietf-tokbind-negotiation]
- [ ] 25 — cached_info [RFC7924] #34 
- [ ] 35 — SessionTicket TLS [RFC4507] #34 
- [ ] 13172 — supports_npn [draft-agl-tls-nextprotoneg-04] #34 
- [ ] 62208 — tack [draft-perrin-tls-tack-02] #34 
- [x] 65281 — renegotiation_info [RFC5746] #22

-----

Even if a library allows to change which extensions are supported (many don't), and those settings are exposed by the applications that use the TLS libraries (again, many don't do that), most users still focus only on supported ciphers, protocol versions and maybe (EC|FF)DH parameters.

So I think that detecting which extensions are supported by server would be a very strong signal for probing servers.

As to how to detect if a particular extension is supported? Send an invalid formatting of the extension and see if server aborts connection.

Is this something you'd like to see @richmoore?

Yes, that'd definitely be a good idea.


@richmoore since #34 is the last remaining one, unless you have ideas for some drafts that should have probes, I think this can be closed as resolved once it is merged
